:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

:host > * {
    margin-top: 10px;
}

:host:first-child {
    margin-top: 0;
}

img {
    width: 150px;
    height: 150px;
}

h1 {
    color: #ffc146;
}

p {
    color: #6fccf5;
}